:root {
  --primary-color: #34CB79;
  --title-color: #322153;
  --text-color: #6C6C80;
  position: absolute;
	left: 50%;
  top: 50%;
  margin-left:-140px;
  margin-top:-40px;
  border: 1px solid;
  padding: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F0F0F5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

:root {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

button {
  margin-top: 4px;
}

p {
  margin-bottom: 20px;
}

input {
  color: var(--title-color);
  font-family: Ubuntu;
}